#play{
	background-position: center center;
	background-repeat: no-repeat;
}
.play,.play:hover{
	background-image: url(img/play.png);
}
.pause,.pause:hover{
	background-image: url(img/pause.png);
}
#stop{
	background-image: url(img/stop.png);
	background-position: center center;
	background-repeat: no-repeat;
}
#previous{
	background-image: url(img/previous.png);
	background-position: center center;
	background-repeat: no-repeat;
}
#next{
	background-image: url(img/next.png);
	background-position: center center;
	background-repeat: no-repeat;
}
#progress{
	min-width: 320px;
	width: 75%;
}
#gainDisplay{
	display: inline-block;
	text-align: left;
	width: 50px;
}
.now-playing{
	padding-bottom: 0;
}


input[type='range'], input[type='range']::-moz-range-track{
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #999;
	height: 1px;
	vertical-align: middle;
}
input[type='range']::-webkit-slider-thumb, input[type='range']::-moz-range-thumb {
	 -webkit-appearance: none !important;
	 -moz-appearance: none;
	 border-radius: 50%;
	 border: 1px solid #999;
	 height: 20px;
	 width: 20px;
}

.main{
  height: 100%;
  padding-top: 180px; 
}

header.top {
	background: rgba(255, 255, 255, 0.75);
    position: fixed;
    text-align: center;	
    transition: all 0.2s ease 0s;
    width: 100%;
    z-index: 100;
}

.leftpanel, .rightpanel{
  height: 100%;
  overflow: auto;
  position: relative;
  z-index: 3;
}

.rightpanel{
  right: 0;
}

.settings{
	background: rgba(255, 255, 255, 0.75);
	bottom: 0;
	padding: 3px 10px;
	position: fixed;
	width: 100%;
}
.settings .action{
	display: inline-block;
	height: 32px;
	opacity: .2;
	text-overflow: hidden;
	text-indent: -99999px;
	transition: all .3s ease-in 0s;
	width: 32px;
}
.settings .action:hover{
	opacity: .8;
}
.clear-playlist{
	background: transparent url(img/clear.png) no-repeat center center;
}
#filter{
	border: none;
	border-bottom: 1px solid #999999;
	color: #999999;
	font-size: 1.2em;
	font-weight: lighter;
}
.hide{
	display: none;
}