a:hover{
	text-decoration: none;
}
#play{
	background-position: center center;
	background-repeat: no-repeat;
}
.play,.play:hover,.paused,.paused:hover{
	background-image: url(img/play.png);
}
.playing,.playing:hover{
	background-image: url(img/pause.png);
}
.loading,.loading:hover{
	background-image: url(img/loading.gif);
	background-position: center center;
	background-repeat: no-repeat;
}
#stop{
	background-image: url(img/stop.png);
	background-position: center center;
	background-repeat: no-repeat;
}
#previous{
	background-image: url(img/previous.png);
	background-position: center center;
	background-repeat: no-repeat;
}
#next{
	background-image: url(img/next.png);
	background-position: center center;
	background-repeat: no-repeat;
}
#progress{
	min-width: 320px;
	width: 75%;
}
#gainDisplay{
	display: inline-block;
	text-align: left;
	width: 50px;
}
.now-playing{
	padding-bottom: 0;
}
.settings-btn{
	background: transparent url(img/settings.png) no-repeat center center;
	height: 32px;
	opacity: .3;
	position: absolute;
	right: 5px;
	top: 5px;
	transition: opacity .3s ease-in 0s;
	width: 32px;
}
.top:hover .settings-btn{
	opacity: .7;
}
.settings-btn:hover{
	opacity: 1;
}

input[type='range'], input[type='range']::-moz-range-track{
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #999;
	cursor: pointer;
	height: 1px;
	vertical-align: middle;
}
input[type='range']:disabled, input[type='range']:disabled::-moz-range-track{
	cursor: auto;
}
input[type='range']::-webkit-slider-thumb, input[type='range']::-moz-range-thumb {
	 -webkit-appearance: none !important;
	 -moz-appearance: none;
	 border-radius: 50%;
	 border: 1px solid #999;
	 cursor: w-resize;
	 height: 20px;
	 width: 20px;
}

.main{
  height: 100%;
  padding-top: 180px; 
}

header.top {
	background: rgba(255, 255, 255, 0.75);
  position: fixed;
  text-align: center;	
  transition: all 0.2s ease 0s;
  width: 100%;
  z-index: 100;
}

.leftpanel, .rightpanel{
  height: 100%;
  overflow: auto;
  z-index: 3;
}

.rightpanel{
  right: 0;
}

.settings-bar{
	background: rgba(255, 255, 255, 0.75);
	bottom: 0;
	padding: 3px 10px;
	position: fixed;
	width: 100%;
}
.settings-bar .action{
	background-size: 16px;
	display: inline-block;
	opacity: .1;
	text-overflow: hidden;
	text-indent: -99999px;
	transition: all .2s ease-in 0s;
	width: 32px;
}
.leftpanel:hover .action, .rightpanel:hover .action{
	opacity: .5;
}
.settings-bar .action:hover{
	opacity: 1;
}
#playlist, #library{
	padding-bottom: 50px;
}
#playlist .current{
	background-color: #E4E4E4;
}
.clear-playlist{
	background: transparent url(img/clear.png) no-repeat center center;
}
.reload-library{
	background: transparent url(img/refresh.png) no-repeat center center;
}
.save-playlist{
	background: transparent url(img/save.png) no-repeat center center;
}
.shuffle-playlist{
	background: transparent url(img/shuffle.png) no-repeat center center;
}
#filter{
	background: rgba(255, 255, 255, 0.8);
	border: none;
	border-bottom: 1px solid #999999;
	font-family: "Open Sans";
	font-weight: lighter;
	opacity: .5;
}
#filter:hover, #filter:focus{
	opacity: 1;
}
.hide{
	display: none;
}

.settings .close{
	font-size: 3em;
  position: absolute;
  right: 5px;
  top: -6px;
}


/*
 * Stats
 */
.progress-bar{
	background-color: #999999;
	height: 1em;
	width: 100%;
}
.progress-bar .progress{	
	background-color: #22AA24;
	height: 100%;
}