<!-- Controls -->
    <header class="top clearfix" ng-controller="ControlsController">
      <div class="wrap-btn small">
        <button id="previous" class="btn-circle" ng-click="previous()" ng-disabled="!hasPrevious()"></button>
      </div>
      <div class="wrap-btn">
        <button id="stop" class="btn-circle" ng-click="stop()"></button>
      </div>
      <div class="wrap-btn">
        <button id="play" class="btn-circle play {{state}}" ng-click="play()"></button>
      </div>
      <div class="wrap-btn small">
        <button id="next" class="btn-circle" ng-click="next()" ng-disabled="!hasNext()"></button>
      </div>

      <label for=gain>Volume</label>
      <input type=range id="gain" min="0" value="{{gain}}" max="100" step="0.1" ng-model="gain">
      <output for="gain" id="gainDisplay">{{gain | number:0}}</output>

      <div>
        <p class="now-playing">{{nowplaying | track}} {{progress.max | duration}} </p>
        <input type=range id="progress" min='0.0' ng-model='progress.value' max='{{progress.max}}' step='0.1' disabled="">
      </div>

      <a href="#/settings" class="settings-btn"></a>
    </header>

    <section class="main">

      <!-- Playlist -->
      <div class="leftpanel col-50" ng-controller="PlaylistController">

        <ul id="playlist">
          <li class="item" ng-repeat="track in tracks track by $index" ng-click="play(track)" ng-class="{current: nowplaying(track)}">
            {{track | track}}
            <div class="actions">
              <a href ng-click="moveDown(track, $event)" class="moveDown"></a>
              <a href ng-click="moveUp(track, $event)" class="moveUp"></a>
              <a href ng-click="remove(track, $event)" class="remove"></a>
            </div>
          </li>
        </ul>
        <div class="settings-bar">
          <a href class="action clear-playlist" title="Clear playlist" ng-click="clear()">Clear playlist</a>
          <a href class="action save-playlist" title="Save playlist" ng-click="save()">Save playlist</a>
          <a href class="action shuffle-playlist" title="Shuffle playlist" ng-click="shuffle()">Shuffle playlist</a>
        </div>
      </div>
      

      <!-- Library -->
      <div class="rightpanel col-50" ng-class="{loading: loading}" ng-controller="LibraryController">
        <ul id="library">
          <li ng-repeat="track in tracks | filter:filter" ng-click="addToPlaylist(track)">
          {{track | track}}
          </li>
        </ul>
        <div class="settings-bar">
          <input type="text" id="filter" ng-model="filter" ng-model-options="{ debounce: 300 }" placeholder="filter" />
          <a href class="action reload-library" title="Reload library" ng-click="reload()">Reload library</a>
          <a href class="action add-all" title="Add all to playlist" ng-click="addAllToPlaylist()">Add all to playlist</a>
        </div>
      </div>

    </section>